@import "reset";

#app {
  position: relative;
  .end-game-modal {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-size: 30px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px 30px;
    text-align: center;
    .again-button {
      margin-top: 10px;
      padding: 10px 15px;
      border: 1px solid white;
      border-radius: 5px;
      &:hover {
        border: 1px solid black;
      }
    }
  }
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .statistic {
    margin-bottom: 10px;
    font-size: 20px;
  }
  fieldset {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    input:not(:first-of-type) {
      margin-left: 15px;
    }
    label {
      margin-left: 5px;
    }

    button {
      padding: 10px;
      border: 1px solid white;
      border-radius: 10px;
      margin-left: 15px;
      &:hover {
        border: 1px solid black;
      }
    }
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  table {
    tr {
      td {
        position: relative;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid black;
        overflow: hidden;
      }
    }
  }
}
